* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
}

.wrapper {
    text-align: center;
    margin-top: 50px;
}

h1 {
    margin-bottom: 20px;
}

/* form */
.fieldgroup { 
    padding-bottom: 20px; 
}

label {
    display: block; 
    padding-bottom: 10px; 
    color: #333;
}

input, textarea { 
    font-size: 12px; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px; width: 300px;
}

textarea {
    height: 200px;
}

input[type="submit"] {
    background: skyblue; 
    color: #fff;
    border: none;
}

input[type="submit"]:hover {
    background: blue;
}

/* error popup */
.error-popup { 
    /* opacity: 0;  */
    display: none;
    transition: opacity .5s linear; 
    color: crimson;
    margin: 10px 0;
}

.error .error-popup {
    /* opacity: 1; */
    display: block;
}

.error {
    color: crimson;
}

.error input, .error textarea {
    border: 2px solid crimson;
}